.Container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.table_data{
    width: 100%;
}

.actions{
    display: flex;
    gap:5px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.sideBarContainer{
    display: grid;
    place-self: center;
    width: 450px;
    border: 2px solid #000;
}

.sidebarActions{
    display: flex;
    gap: 20px;
    /* flex-direction: ; */
}

.mainSideBar{
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.rows{
    border: 1px solid grey;
}