@font-face {
    font-family: "Gilroy-Bold";
    src: url("./assets/gilroy-bold/Gilroy-Bold.ttf") format("truetype");
    /* font-weight: 400;
    font-style: normal; */
}@font-face {
    font-family: "Gilroy-Heavy";
    src: url("./assets/gilroy-bold/Gilroy-Heavy.ttf") format("truetype");
    /* font-weight: 400;
    font-style: normal; */
}@font-face {
    font-family: "Gilroy-Light";
    src: url("./assets/gilroy-bold/Gilroy-Light.ttf") format("truetype");
    /* font-weight: 400;
    font-style: normal; */
}@font-face {
    font-family: "Gilroy-Medium";
    src: url("./assets/gilroy-bold/Gilroy-Medium.ttf") format("truetype");
    /* font-weight: 400;
    font-style: normal; */
}@font-face {
    font-family: "Gilroy-Regular";
    src: url("./assets/gilroy-bold/Gilroy-Regular.ttf") format("truetype");
    /* font-weight: 400;
    font-style: normal; */
}